.trackingdiv {
  margin: 3rem 0.2rem 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55rem;
  box-sizing: border-box;
}
.tracking {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.boxx {
  border-radius: 1rem;
  background: rgba(0, 0, 128, 0.2);
  position: relative;
  margin: 0.1rem 0.5rem 0.1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.3rem;
  width: 1.2rem;
  height: 1.4rem;
  box-sizing: border-box;
}
.vuesaxbulkbox-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
}
.tracking-activity {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0rem;
  line-height: 1.4;
  color: var(--main-text, #101828);
}
.view-progress {
  margin: 0.6rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration-line: underline;
  color: #151516;
}
.top-half {
  border-radius: 1rem 1rem 0 0;
  background: var(--col-2, #000080);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 55rem;
  box-sizing: border-box;
}
.blue-left {
  margin: 0.2rem 0 0 0.5rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.agent-pic {
  margin-right: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  
}
.vector {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 30px;
}
.more {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.agent-name {
  margin-bottom: 0.5rem;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}
.tell-us-more-1 {
  margin-right: 0.3rem;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff;
}
.star {
  margin-right: 0.3rem;
  width: 1rem;
  height: 1rem;
}
.tell-us-more-2 {
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
  color: #ffffff;
}
.bright {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.price{
  margin-top: 20px;
  color: #ffffff;
}
.brg {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.copy {
  width: 1.5rem;
  height: 1.5rem;
}
.tell-us-more-7 {
  margin-bottom: 0.5rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--col-2, white);
}
.tell-us-more-8 {
  margin: 0.3rem 0.3rem 0.3rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
}
.agent-detail{
  margin-left: 200px;
}