.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

 .roboto-regular{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.dm-sans-uniquifier {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Specify the desired font weight */
  font-style: normal;
}




.form-container {
  height: 320px;
  width: 80%;
   margin: 0px auto; 
  /* line-height: 28px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 80px; */
  /* overflow: hidden; */
  /* margin-bottom: 30px; */
  /* position: fixed;  */

}
.form-row-1{
  height: 70px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 6rem 0;
}
.form-col-1-1{
  height: 70px;
  width: 49%;
  /* background-color: brown;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* label{
  line-height: 30px;
} */
.form-col-1-2{
  height: 70px;
  width: 49%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fn{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  /* background-color: aquamarine; */
  padding-left: 10px;
}
.lfn{
  font-size: 13px;
  
}
.ln{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}
.lln{
  font-size: 13px;
}

.form-row-2{
  height: 70px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 6rem 0;
}

.form-col-2-1{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eln{
  font-size: 13px;
}
.ein{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}
.form-col-2-2{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pln{
  font-size: 13px;
}
.pin{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}
.form-row-3{
  height: 70px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  padding: 0 0 6rem 0;
}
.form-col-3-1{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.sln{
  font-size: 13px;
}
.sin{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}
.form-col-3-2{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ctln{
  font-size: 13px;
}
.ctin{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}

.form-row-4{
  height: 70px;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;

}
.form-col-4-1{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.saln{
  font-size: 13px;
}
.sain{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}
.form-col-4-2{
  height: 70px;
  width: 49%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.pcln{
  font-size: 13px;
}
.pcin{
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000080;
  padding-left: 10px;
}


.user-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
 
  
}

.user-photo {
  width: 6%;
  object-fit: cover;
  margin-top: 150px;
  
}
.camera-photo{
  /* width: 30%; */
  padding-left: 55px;
  margin-top: -55px;
  z-index: 1;
}
.btn{
  font-family: "DM Sans", sans-serif;
  width: 19%;
  margin-top: 25px;
  margin-left: 35%;
  padding: 1.5%;
  border-radius: 12px;
  background-color: #000080;
  color: #FFFFFF;
  font-size: 11px;
  transition: color 0.3s ease;
  border: none;
  cursor: pointer;
  transition: color 0.1s ease; 

}
.btn:hover{
 color: aqua;

}
.user-photo {
margin-top: 60px;
width: 100px;
height: 100px;
border-radius: 50%; /* Makes it round */
overflow: hidden; /* Ensures the image fits within the round container */
background-color: #ccc; /* Fallback background color */
}

.user-photo img {
width: 100%;
height: 100%;
object-fit: cover; /* Ensures the image fills the container */
}
.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
display: flex;
justify-content: center;
align-items: center;
}

.modal {
background-color: #fff;
padding: 20px;
border-radius: 8px;
position: relative;
}

.modal-content {
text-align: center;
}

.modal-image {
max-width: 100%;
max-height: 80vh; /* limit height to 80% of viewport height */
object-fit: contain; /* maintain aspect ratio */
}

.close {
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
}
.error{
color: red;
position: absolute;
}
.update-profile{
display: flex;

}
.updateform{
width: 60%;
}

