
.resetpasswordContainer {
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%; 
  height: 100vh;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      height:auto;
      overflow: hidden;
    }
  }

  .resetpasswordContainer img{
    /* height: inherit; 
     */
    @media screen and (max-width: 600px) {
      width:100%
    }
 
  }
  
  .resetpasswordForm {
    
    /* height: inherit; */
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin-bottom: 15%;
    

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

.resetpasswordHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
 

  .resetpasswordHeader h1{
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Harlow-Solid-Italic', sans-serif;
    color: #000080;
  }

  .resetpasswordHeader h2{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2%; 
   text-align: left; 
   font-family: "Roboto";
   font-weight: 600;
   font-style: normal;
}

  .resetpasswordParagraph{
    
    font-size: 14px;
    font-weight: 400; 
    text-align: center;
    opacity: 60%; 
    margin-bottom: 4%;
    font-family: "Inter", sans-serif;


  }

  /* .resetpasswordHeader button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid #D0D5DD;
    padding: 2% 2%;
    border-radius: 4px;
    width: 70%;
  } */

  /* .resetpasswordHeader button img{
    font-weight: 500;
    font-size: 30px;
    height:10px;
    margin-right: 5%;
  } */

  span{
    font-size: 13px;
  }

  

  .inputFields{
    display: flex;
    flex-direction: column;
    width:100%; 
    /* line-height: 28px; */
   font-family: "Roboto", sans-serif;
    /* margin-bottom: 3%; */

  }

  .inputFields input{
    padding: 1.5% 0%;
    border-radius: 8px;
    margin: 2% 0%;
    outline: none;
    border: 1.5px solid #000080; 
    line-height: 28px;
    /* margin-bottom: 3%; */
  }

.resetpasswordbtn{
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000080;
    color: #fff;
    border: 1px solid #D0D5DD;
    padding: 3% 3%;
    border-radius: 8px;
    width: 70%;
    font-size: 16px;
    margin-bottom: 3%;
}

.paragraph{
    
    gap: 32px; 
    opacity: 60%; 
    font-size: small;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

  p a{
    color: #000080;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    font-family: "Inter", sans-serif;
  }

  label{
    font-size: small;
  }


 
  