
.signupContainer {

    /* background-color: red;  */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%; 
    height: 100vh;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      height:auto;
      overflow: hidden;
    }
  }

  .signupContainer img{
    

    /* height: inherit;  */
   @media screen and (max-width: 600px) {
      width:100%
    }
 
  }
  
  .signupForm {
    /* background-color: aqua; */
    /* height: inherit;  */
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    width:60%; 
    margin-bottom: 15%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

.signupHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width:100%;
}
 

  .signupHeader h1{
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Harlow-Solid-Italic', sans-serif;
    color: #000080;
  }

  .signupHeader h2{
    
    font-size: 18px;
    font-family: 'Roboto'; 
    margin-bottom: 2%;
    line-height: 28px; 
    /* text-align: left; */
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;

  }

  

  .signupHeader button{
    background-color: #000080;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    font-size: 10px; 
    background-color: transparent;
    border: 1px solid #D0D5DD;
    padding: 3% 3%;
    border-radius: 8px;
    width: 400px; 
    
  } 

  .signupHeader button img{
   /* width:30%;   */
   font-weight: 500;
   font-size: 30px;
    height:10px;
    margin-right: 5%;
  }
  span{
    font-size: 13px;
  }
   
  .googleSearch{
    
    margin: 3% 0%; 
    width: 30%;
    margin-bottom: 2%; 
    opacity: 60%;
    
  } 

  .OR{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    font-size: 30px;
    color: #7f8184;
    
  }

  .lineImage{
    margin: 0% 1%;
    font-weight: 500;
    width:60%; 
    
  }

  
  .inputFields{
    /* background-color: #000080;   */
    display: flex;
    flex-direction: column;
    width:100%; 
    line-height: 28px;
   font-family: "Roboto", sans-serif;
    margin-bottom: 5%;


  }

  .inputFields input{
    /* background-color: black;   */
    border-radius: 8px;
    margin: 2% 0%;
    outline: none;
    line-height: 28px;
    border: 1.5px solid #000080; 
    width: 500px; 
    margin-bottom: 9%;
  }

  

  .signupbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000080;
    color: #fff;
    border: 1px solid #D0D5DD;
    padding: 3% 3%;
    border-radius: 5px;
    width: 70%;
    font-size: small;
    margin-bottom: 3%;

  }

  
  

  

  .paragraph{
    
    gap: 32px; 
    opacity: 60%; 
    font-size: small;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    /* margin-bottom: 20%; */

  }

  p a{
    color: #000080;
    font-size: small;
    font-family: "Inter", sans-serif;
  }

  label{
    font-size: small;
  }

  