@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: 'Harlow-Solid-Italic';
    src: url('../../../public/fonts/Harlow\ Solid\ Italic\ Italic.ttf') format('truetype');
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/*--------------------  NAV BAR  --------------------*/
.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #E2E8F0;
}
.header-logo {
    font-family: Harlow-Solid-Italic;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: #000080;
}
.header-nav a {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: #0F172A;
    cursor: pointer;
}
.header-signup a {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.log-in {
    color: #000080;
    margin-right: 30px;
}
.sign-in {
    display: inline-flex;
    align-items: center;
    background-color: #FFA500;
    border-radius: 8px;
    padding: 9px 20px;
    margin-right: -13px;
}
.sign-in p {
    color: #FFFFFF;
    margin-right: 10px;
}
.sign-in img {
  margin-right: -10px;
  object-fit: contain;
}
/*--------------------  HERO STYLES  --------------------*/
.container-abs-img {
  position: relative;
}
.container {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.hero-section {
    height: 75vh;
    margin-top: 35px;
}
.info-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.hero-info {
  margin-right: 60px;
  /* background-color: red; */
}
.hero-info-header h1 {
  font-size: 63px;
  font-weight: 800;
  color: #0F172A;
  line-height: 70px;
}
.hero-info-header span {
  color: #000080;
}
.hero-info-header p {
  margin-top: 25px;
  font-weight: 400;
  color: #475569;
}
.location {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 15px 0;
  width: 100%;
}
.frame {
  margin-right: 25px;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input {
  background-color: #eeeeee;
  border: none;
  font-weight: 400;
  padding: 10px 145px 10px 20px;
  width: 300px;
  width: 100%;
  border-radius: 8px;
}
.input::placeholder {
  color: #545454;
  font-size: 15px;
  font-weight: 400;
}
.hero-btn a {
  display: inline-flex;
  align-items: center;
  padding: 9px 20px;
  margin-left: 15px;
  background-color: #ffa500;
  border-radius: 8px;
  text-decoration: none;
}
.hero-btn p {
  font-weight: 500;
  color: #ffffff;
  font-size: 14.5px;
  margin-right: 15px;
  margin-left: 8px;
}
.hero-btn img {
  margin-right: -10px;
  object-fit: contain;
} 
.full-image {
  flex-basis: 50%;
}
.full-image img {
  max-width: 100%;
  height: auto;
}
.hero-abs-img {
  position: absolute;
  bottom: 40px;
  right: 5px;
  z-index: -1;
}

/*--------------------  HOW IT WORKS SECTION  --------------------*/
.how-it-works{
    height: 100vh;
}
.how-it-works-images {
  display: flex;
  height: auto;
  flex-basis: 50%;
  margin-right: 55px;
  gap: 15px;
}
.how-it-works-image-2 {
  margin-top: 70px;
  width: 189px;
  height: 384px;
}
.how-it-works-image-3 {
  margin-bottom: 70px;
  width: 189px;
  height: 384px;
}
.how-it-works-image-1 {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 189px;
  height: 384px;
}
.how-it-works-abs-img {
  position: absolute;
  left: 15px;
  bottom: 220px;
  z-index: -1;
}
.info-header {
  font-weight: 800;
  font-size: 50px;
  color: #0f172a;
}
.info-paragraph {
  color: #475569;
  margin-top: 20px;
  font-weight: 400;
  line-height: 25px;
}
.btn-link a {
  text-decoration: none;
  margin-top: 30px;
  display: inline-flex;
}
.btn-link p {
  color: #000080;
  font-size: 14.5px;
  font-weight: 500;
  /* display: inline; */
}
.btn-link img {
  margin-left: 20px;
  object-fit: contain;
}

/*--------------------  FEATURES SECTION  --------------------*/
.services {
    height: 100vh;
}
.services-info {
    margin-right: 80px;
    padding-right: 25px;
    /* background-color: #000080; */
  }

  /*--------------------  JOIN SECTION  --------------------*/
.join-section {
    height: 60vh;
    background: linear-gradient(99.45deg, #312E81 0%, #1E40AF 0.01%, #1E3A8A 46.01%, #701A75 97%);
    flex-direction: column;
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
}
.join-section-header {
    font-size: 50px;
    /* margin-top: -50px; */
    margin-bottom: 20px;
}
.join-section-paragraph {
    padding: 0 60px;
    line-height: 28.8px;
}
.join-btn a {
    text-decoration: none;
    display: inline-flex;
    background-color: #000080;
    border-radius: 8px;
    padding: 15px 24px;
    margin-top: 20px;
    letter-spacing: 0.5px;
}
.join-btn-paragragh {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    margin-right: 25px;
    margin-left: 15px;
}
.join-btn img {
    object-fit: contain;
}

/*--------------------  FOOTER  --------------------*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 65px;
    margin: auto;
}
.footer-main-1{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo-footer{
    font-family: Harlow-Solid-Italic;
    font-weight: 400;
    font-size: 22px;
    color: #000080;
}
.copy{
    font-weight: 400;
    font-size: 14px;
    color: #475569;
}
.footer-main-2 a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #475569;
}