@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: 'Harlow-Solid-Italic';
    src: url('../../../public/fonts/Harlow\ Solid\ Italic\ Italic.ttf') format('truetype');
  }

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* body{
    display: flex;
    flex-direction: column;
    width: 100;
  } */

  .containerss{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 43.5rem;
    box-sizing: border-box;*/
  }

.dashboard-sidebar {
    box-shadow: var(--bottom-card-shadow-light, 0rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.04));
    background: var(--white, #FFFFFF);
    margin-right: 2.4rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 37.3rem 1.5rem;
    /* box-sizing: border-box; */
}

.dashboard-left-nav{
    
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;

}
  
.dashboard-logo{
    margin-bottom: 1.1rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Harlow Solid Italic', 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--col-2, #000080);
}

.overview {
    margin-top:25px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}
.overview p{
    margin: 0 0rem 1.5rem 0rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-text-normal-16-font-family, 'Inter');
    font-weight: var(--body-text-normal-16-font-weight, 400);
    font-size: var(--body-text-normal-16-font-size, 1rem);
    letter-spacing: var(--body-text-normal-16-letter-spacing, 0rem);
    line-height: var(--body-text-normal-16-line-height, 1.4);
    color: var(--grey-400, #98A2B3);
}

.dash{
    display: flex;
    align-items: center;
    

}
.overview-menu{
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    margin-left: 0.6rem;
    
}

.dash img, h4{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-right:9px;
}

.others{
  
    margin: 0 0rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;

}

.others-menu{
    
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
}

.others p{
    margin-bottom: 2.2rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--body-text-normal-16-font-family, 'Inter');
    font-weight: var(--body-text-normal-16-font-weight, 400);
    font-size: var(--body-text-normal-16-font-size, 1rem);
    letter-spacing: var(--body-text-normal-16-letter-spacing, 0rem);
    line-height: var(--body-text-normal-16-line-height, 1.4);
    color: var(--grey-400, #98A2B3);
    
}



.logo-footer{
    font-family: Harlow-Solid-Italic;
    font-weight: 400;
    font-size: 27px;
    color: #000080;
}

a {
    text-decoration: none;
  }