.navbarr{
    margin-top: 1rem;
}
.profile-pic-notification-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.notification-logo{
    margin-right: 25px;
}
.profile-pic {
    width: 40px; /* Set the width */
    height: 40px; /* Set the height */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Ensure the image fills the container */
    margin-right: 10px; /* Adjust margin as needed */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
  }