
.loginContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%; 
  height: 100vh;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    height:auto;
    overflow: hidden;
  }
  }

  .loginContainer img{
    /* height: inherit;  */
    
    @media screen and (max-width: 600px) {
      width:100%
    }
 
  }

  
  
  .loginForm {
    /* background-color: aqua; */
    /* height: inherit;  */
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 28px;
    width:60%; 
    margin-bottom: 15%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }


  .loginHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}


 
 

  .loginHeader h1{
    line-height: 28px;
    font-size: 30px;
    margin-bottom: 3%;
    font-family: 'Harlow-Solid-Italic', sans-serif;
    color: #000080;
  }

  

  .loginHeader h2{
    font-size: 18px;
    font-family: 'Roboto'; 
    margin-bottom: 2%;
    line-height: 28px; 
    /* text-align: left; */
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
   
  }


  .loginHeader button{
    background-color: #000080;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    font-size: 10px; 
    background-color: transparent;
    border: 1px solid #D0D5DD;
    padding: 3% 3%;
    border-radius: 8px;
    width: 400px; 
  }


  

  .loginHeader button img{
    font-weight: 500;
   font-size: 30px;
    height:10px;
    margin-right: 5%;
  }
  span{
    font-size: 13px;
  }
  
  .googleSearch{
    margin: 3% 0%;
    width: 100%;
    margin-bottom: 2%; 
    opacity: 60%; 
   
  }

  .oR{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    opacity: 60%; 
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    

  }

  .lineImage{
    margin: 0% 1%;
    width:60%;
    font-weight: 500
  }

  

  .inputFields{
    display: flex;
    flex-direction: column;
    width:100%; 
    line-height: 28px;
   font-family: "Roboto", sans-serif;
    /* margin-bottom: 9%; */

  }

  .inputFields input{
    padding: 1.5% 0%;
    border-radius: 8px;
    margin: 2% 0%;
    outline: none;
    border: 1.5px solid #000080; 
    line-height: 28px;
    margin-bottom: 9%;
  }
.loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000080;
    color: #fff;
    border: 1px solid #D0D5DD;
    padding: 3% 3%;
    border-radius: 5px;
    width: 70%;
    font-size: 16px;
    margin-bottom: 3%;
}


.paragraph{
    
  gap: 32px; 
  opacity: 60%; 
  font-size: small;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

p a{
  color: #000080;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  font-family: "Inter", sans-serif;
}

label{
  font-size: small;
}



