.stats {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 10rem;
  justify-content: space-evenly;
  /* background-color: yellow; */
  height: 150px;
  width: 700px;
  
}
.totalerrands {
  background-color: rgb(13, 21, 96);
  color: white;
  height: 7rem;
  width: 14rem;
  align-content: center;
  border-radius: 1rem;
  text-align: center;
}
.totalmoney {
  background-color: rgb(13, 21, 96);
  color: white;
  height: 7rem;
  width: 14rem;
  align-content: center;
  border-radius: 1rem;
  text-align: center;
}
.total {
  font-size: 50px;
  font-weight: 500;
}
